name: Test package with MPI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test-code:
    name: Test on with MPI
    runs-on: ubuntu-24.04
    container:  ghcr.io/fenics/dolfinx/dolfinx:stable
    env:
      DEB_PYTHON_INSTALL_LAYOUT: deb_system

    steps:
      - uses: actions/checkout@v5

      - name: Install package
        run: python3 -m pip install .[test]

      - name: Run tests wit numba disabled
        run: mpirun -n 2 python3 -m pytest -v
